<h1>PROVE BACK END E ANGULAR</h1>

<h1>Ricerca Prodotto</h1>

<form (submit)="search()">
  <input type="text" [(ngModel)]="titolo" name="titolo" placeholder="TITOLO">
  <input type="number" [(ngModel)]="prezzo" name="prezzo">
  <button type="submit">Cerca</button>
</form>

<hr>

<h1>Crea Prodotto</h1>
<input type="text" name="" id="" [(ngModel)]="titoloCreate" placeholder="TITOLO">
<input type="number" name="" id="" [(ngModel)]="prezzoCreate" placeholder="NUMERO">
<button (click)="createFelpe()">Invia</button>

<hr>


<h1>Aggiorna Prodotto</h1>
<input type="number" [(ngModel)]="idProdottoDaAggiornare" name="idProdottoDaAggiornare" placeholder="ID Prodotto">

<input type="number" [(ngModel)]="prezzoUpdate" name="prezzoUpdate" placeholder="NUMERO">

<input type="text" [(ngModel)]="titoloUpdate" name="titoloUpdate" placeholder="TITOLO">

<button (click)="updateFelpe()">Invia</button>



<div *ngFor="let i of ContainerData">
  <h3>ID {{ i.id }} ---/TITOLO {{ i.titolo }} ---/PREZZO {{ i.prezzo }} </h3>
  <button (click)="deleteFelpe(i.id)">DELETE!</button>
</div>